@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  .brand-container {
    @apply container mx-auto px-5 py-5 ;
  }

  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
  h5 {
    @apply text-sm font-bold;
  }
  p {
    @apply text-sm font-normal;
  }

.bg{
  background-image: url("../public/assest/ban1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bgs{
  background-image: url("../public/assest/about.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.bga{
  background-image: url("../public/assest/ban11.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bgss{
   background-image: url("../public/assest/contact.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  50% {
    box-shadow: 0 0 20px 10px rgba(83, 82, 82, 0.4); 
  }
  100% {
    box-shadow: 0 0 0 0 rgba(13, 12, 12, 0.2); 
  }
}



@keyframes fadeInAndSlide {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
}
